<div class=" md:block hidden p-10 bg-gray-100 h-full">
  <div class="grid lg:grid-cols-3 grid-cols-2 gap-6">
    <form action="" [formGroup]="searchForm">
      <div class="p-1">
        <app-input placeholder="Search by FTTH Account" formControlName="ftthAccount"
          (keydown)="onKeyDown($event)"></app-input>
      </div>
    </form>
    <div class="flex flex-row lg:gap-5 gap-2 items-center">
      <div class="p-1 flex items-center">
        <button class="px-3 py-2 focus:outline-none border border-[#E4E4E4] shadow-sm rounded-xl text-[#7C7C7C]"
          [ngClass]="{
            'bg-[#F8F49B] font-bold': activeButton === 'PENDING',
            'bg-white': activeButton !== 'PENDING'
          }" (click)="showDataSource('PENDING')">
          Pending
        </button>
      </div>
      <div class="p-1 flex items-center">
        <button class="px-3 py-2 focus:outline-none border border-[#E4E4E4] shadow-sm rounded-xl text-[#7C7C7C]"
          [ngClass]="{
            'bg-[#A1CDFF] font-bold': activeButton === 'REVOKE',
            'bg-white': activeButton !== 'REVOKE'
          }" (click)="showDataSource('REVOKE')">
          Revoke
        </button>
      </div>
      <div class="p-1 flex items-center">
        <button class="px-3 py-2 focus:outline-none border border-[#E4E4E4] shadow-sm rounded-xl text-[#7C7C7C]"
          [ngClass]="{
            'bg-[#EBC1FF] font-bold': activeButton === 'REUSE',
            'bg-white': activeButton !== 'REUSE'
          }" (click)="showDataSource('REUSE')">
          Reuse
        </button>
      </div>
    </div>

    <div class="p-1 flex lg:justify-end">
      <div class="flex justify-center items-center">
        <button class="px-3 py-2.5 bg-[#4485FF] text-white rounded-full focus:outline-none flex items-center"
          (click)="download()">
          <div class="flex justify-center items-center gap-2">
            <div>Download File</div>
            <mat-icon>download</mat-icon>
          </div>
        </button>
      </div>
    </div>
  </div>

  <div class="py-10">
    <table class="w-full border-collapse shadow-lg">
      <thead class="uppercase shadow-md">
        <tr class="bg-[#E6E8F1] text-left font-semibold">
          <th class="lg:px-4 px-2 py-5 text-center">No</th>
          <th class="lg:px-4 px-2 py-5 text-center">Ftth Account</th>
          <th class="lg:px-4 px-2 py-5 text-center">Total Money</th>
          <th class="lg:px-4 px-2 py-5 text-center">D2D VMY</th>
          <th class="lg:px-4 px-2 py-5 text-center">Status</th>
          <th class="lg:px-4 px-2 py-5 text-center">Action</th>
        </tr>
      </thead>

      <tbody *ngIf="results.length > 0; else noData">
        <tr *ngFor="let item of results; let i = index" class="bg-white">
          <td class="lg:px-4 px-2 py-5 lg:text-base text-sm text-center">{{ offset * size + (i + 1) }}</td>
          <td class="lg:px-4 px-2 py-5 lg:text-base text-sm text-center">{{ item.ftthAccount }}</td>
          <td class="lg:px-4 px-2 py-5 lg:text-base text-sm text-center">{{ item.totalMoney }}</td>
          <td class="lg:px-4 px-2 py-5 lg:text-base text-sm text-center">{{ item.d2dVmy }}</td>

          <td class="lg:px-4 px-2 py-5 text-center">
            <button class="cursor-default lg:px-4 px-2 py-1 lg:text-base text-sm text-center rounded-full" [ngClass]="{
                'bg-[#F8F49B] text-[#766E19]': item.status === 'PENDING',
                'bg-[#A1CDFF] text-[#166292]': item.status === 'REVOKE',
                'bg-[#EBC1FF] text-[#B934F8]': item.status === 'REUSE'
              }">
              {{ item.status }}
            </button>
          </td>

          <td class="lg:px-4 px-2 py-5 items-center flex justify-center gap-4">
            <button (click)="showDetail(item.id)" class="text-gray-500 hover:text-gray-700 mt-1" title="Detail">
              <img src="assets/icons/info-circle-icon.png" class="w-6" alt="" />
            </button>
            <button *ngIf="conditionRole === 'D2D'" (click)="openEdit(item.id)"
              class="text-gray-500 hover:text-gray-700 mt-0.5" title="Edit">
              <img src="assets/icons/edit-icon.png" class="w-6" alt="" />
            </button>
          </td>
        </tr>
      </tbody>
      <ng-template #noData>
        <tr class="bg-white">
          <td colspan="7" class="py-16">
            <div *ngIf="!isLoading" class="flex items-start justify-center w-full gap-2">
              <mat-icon style="color: rgb(200, 198, 198)">error</mat-icon>

              <p>{{ "No search result" }}</p>
            </div>
            <div *ngIf="isLoading">
              <span class="flex justify-center">
                <mat-spinner [diameter]="30"></mat-spinner>
              </span>
            </div>
          </td>
        </tr>
      </ng-template>
    </table>
    <app-paginator [offset]="offset" [totalOffset]="totalOffset" (change)="getAllCustomers($event)"></app-paginator>
  </div>
</div>

<div class=" md:hidden block py-10 px-5 bg-gray-100 h-full">
  <div class="flex gap-4 justify-between items-center">
    <div class="w-full">
      <div class="">
        <form action="" [formGroup]="searchForm">
          <div class="p-1">
            <app-input placeholder="Search by FTTH Account" formControlName="ftthAccount"
              (keydown)="onKeyDown($event)"></app-input>
          </div>
        </form>
      </div>
    </div>


    <div class=" ">
      <button [matMenuTriggerFor]="logout"
        class="bg-[#ddd]  w-[110px] h-12 rounded-lg flex items-center justify-between px-3">
        <p class="text-base" *ngIf="activeButton === undefined; else activeElse">
          filter
        </p>
        <ng-template #activeElse>
          <p class="text-sm">
            {{activeButton}}
          </p>
        </ng-template>
        <mat-icon style="color: #444444">filter_alt</mat-icon>
      </button>

      <mat-menu #logout="matMenu" class="w-full">
        <div style="width: 100%; ">
          <div class="py-3 cursor-pointer text-center   hover:bg-gray-100" (click)="showDataSource('PENDING')">
            Pending
          </div>
          <div class="py-3 cursor-pointer text-center  hover:bg-gray-100" (click)="showDataSource('REVOKE')">
            Revoke
          </div>
          <div class="py-3 cursor-pointer text-center  hover:bg-gray-100" (click)="showDataSource('REUSE')">
            Reuse
          </div>
        </div>
      </mat-menu>
    </div>


  </div>

  <div class="flex justify-start items-center my-4">
    <button class="px-3 py-2.5 bg-[#4485FF] text-white rounded-full focus:outline-none flex items-center"
      (click)="download()">
      <div class="flex justify-center items-center gap-2">
        <div>Download</div>
        <mat-icon>download</mat-icon>
      </div>
    </button>
  </div>
</div>