<div class="py-10 px-10 bg-gray-100 h-full">
  <div class="grid grid-cols-3 gap-6">
    <form action="" [formGroup]="searchForm">
      <div class="p-1">
        <app-input
          placeholder="Search by FTTH Account"
          formControlName="ftthAccount"
          (keydown)="onKeyDown($event)"
        ></app-input>
      </div>
    </form>
    <div class="flex flex-row gap-5 items-center">
      <div class="p-1 flex items-center">
        <button
          class="px-3 py-2 focus:outline-none border border-[#E4E4E4] shadow-sm rounded-xl text-[#7C7C7C]"
          [ngClass]="{
            'bg-[#F8F49B] font-bold': activeButton === 'PENDING',
            'bg-white': activeButton !== 'PENDING'
          }"
          (click)="showDataSource('PENDING')"
        >
          Pending
        </button>
      </div>
      <div class="p-1 flex items-center">
        <button
          class="px-3 py-2 focus:outline-none border border-[#E4E4E4] shadow-sm rounded-xl text-[#7C7C7C]"
          [ngClass]="{
            'bg-[#A1CDFF] font-bold': activeButton === 'REVOKE',
            'bg-white': activeButton !== 'REVOKE'
          }"
          (click)="showDataSource('REVOKE')"
        >
          Revoke
        </button>
      </div>
      <div class="p-1 flex items-center">
        <button
          class="px-3 py-2 focus:outline-none border border-[#E4E4E4] shadow-sm rounded-xl text-[#7C7C7C]"
          [ngClass]="{
            'bg-[#EBC1FF] font-bold': activeButton === 'REUSE',
            'bg-white': activeButton !== 'REUSE'
          }"
          (click)="showDataSource('REUSE')"
        >
          Reuse
        </button>
      </div>
    </div>

    <div class="p-1 flex justify-end">
      <div class="flex justify-center items-center">
        <button
          class="px-3 py-2.5 bg-[#4485FF] text-white rounded-full focus:outline-none flex items-center"
          (click)="download()"
        >
          <div class="flex justify-center items-center gap-2">
            <div>Download File</div>
            <mat-icon>download</mat-icon>
          </div>
        </button>
      </div>
    </div>
  </div>

  <div class="py-10">
    <table class="w-full border-collapse shadow-lg">
      <thead class="uppercase shadow-md">
        <tr class="bg-[#E6E8F1] text-left font-semibold">
          <th class="px-4 py-5 text-center">No</th>
          <th class="px-4 py-5 text-center">Ftth Account</th>
          <th class="px-4 py-5 text-center">Total Money</th>
          <th class="px-4 py-5 text-center">D2D VMY</th>
          <th class="px-4 py-5 text-center">Status</th>
          <th class="px-4 py-5 text-center">Action</th>
        </tr>
      </thead>

      <tbody *ngIf="results.length > 0; else noData">
        <tr *ngFor="let item of results; let i = index" class="bg-white">
          <td class="px-4 py-5 text-center">{{ offset * size + (i + 1) }}</td>
          <td class="px-4 py-5 text-center">{{ item.ftthAccount }}</td>
          <td class="px-4 py-5 text-center">{{ item.totalMoney }}</td>
          <td class="px-4 py-5 text-center">{{ item.d2dVmy }}</td>

          <td class="px-4 py-5 text-center">
            <button
              class="cursor-default px-4 py-1 text-center rounded-full"
              [ngClass]="{
                'bg-[#F8F49B] text-[#766E19]': item.status === 'PENDING',
                'bg-[#A1CDFF] text-[#166292]': item.status === 'REVOKE',
                'bg-[#EBC1FF] text-[#B934F8]': item.status === 'REUSE'
              }"
            >
              {{ item.status }}
            </button>
          </td>

          <td class="px-4 py-5 items-center flex justify-center gap-4">
            <button
              (click)="showDetail(item.id)"
              class="text-gray-500 hover:text-gray-700 mt-1"
              title="Detail"
            >
              <img src="assets/icons/info-circle-icon.png" class="w-6" alt="" />
            </button>
            <button
              *ngIf="conditionRole === 'D2D'"
              (click)="openEdit(item.id)"
              class="text-gray-500 hover:text-gray-700 mt-0.5"
              title="Edit"
            >
              <img src="assets/icons/edit-icon.png" class="w-6" alt="" />
            </button>
          </td>
        </tr>
      </tbody>
      <ng-template #noData>
        <tr class="bg-white">
          <td colspan="7" class="py-16">
            <div
              *ngIf="!isLoading"
              class="flex items-start justify-center w-full gap-2"
            >
              <mat-icon style="color: rgb(200, 198, 198)">error</mat-icon>

              <p>{{ "No search result" }}</p>
            </div>
            <div *ngIf="isLoading">
              <span class="flex justify-center">
                <mat-spinner [diameter]="30"></mat-spinner>
              </span>
            </div>
          </td>
        </tr>
      </ng-template>
    </table>
    <app-paginator
      [offset]="offset"
      [totalOffset]="totalOffset"
      (change)="getAllCustomers($event)"
    ></app-paginator>
  </div>
</div>
