table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    background-color: white;
    
  }
  
  td{
    // border: 1px solid #dadada;
    text-align: center;
    padding: 15px;
  }
   th {
    // border: 1px solid #dadada;
    text-align: center;
    padding: 20px;
  }
  
//   tr:nth-child(even) {
//     // background-color: #dddddd;
//   }