<div class="w-full p-3 md:p-6">
  <div *ngIf="role && isMobile" class="font-bold">
    {{ role }}
  </div>
  <div class="w-full p-8 bg-white rounded-md shadow-lg">
    <form
      [formGroup]="searchTable"
      class="grid lg:grid-cols-3 sm:grid-cols-2 grid-cols-1 gap-5"
    >
      <!-- branch auto-complete  -->
      <div
        *ngIf="conditionRole === 'HO' || conditionRole === 'BM'; else banBranch"
      >
        <app-auto-complete
          [label]="'Branch Name'"
          [placeholder]="'Enter branch name'"
          [suggestions]="customerData"
          (selectedSuggestion)="onSuggestionSelected($event)"
        ></app-auto-complete>
      </div>
      <ng-template #banBranch>
        <app-auto-complete
          [label]="'Branch Name'"
          [placeholder]="'Enter branch name'"
          [suggestions]="customerData"
          (selectedSuggestion)="onSuggestionSelected($event)"
          [banInput]="true"
        ></app-auto-complete>
      </ng-template>
      <!-- branch auto-complete  -->

      <!-- townsip auto-complete  -->
      <div
        *ngIf="
          conditionRole === 'FBB_LEADER' || conditionRole === 'D2D';
          else banTownship
        "
      >
        <app-auto-complete
          [label]="'Township Name'"
          [placeholder]="'Enter Township'"
          [suggestions]="townshipData"
          (selectedSuggestion)="onTownshipSelected($event)"
          [banInput]="true"
        ></app-auto-complete>
      </div>
      <ng-template #banTownship>
        <div *ngIf="townshipData.length > 0; else newTownship">
          <app-auto-complete
            [label]="'Township Name'"
            [placeholder]="'Enter Township'"
            [suggestions]="townshipData"
            (selectedSuggestion)="onTownshipSelected($event)"
          ></app-auto-complete>
        </div>
        <ng-template #newTownship>
          <app-auto-complete
            [label]="'Township Name'"
            [placeholder]="'Enter Township'"
            [suggestions]="townshipData"
            (selectedSuggestion)="onTownshipSelected($event)"
          ></app-auto-complete>
        </ng-template>
      </ng-template>
      <!-- townsip auto-complete  -->

      <!-- fbbLeaderData auto-complete  -->
      <div *ngIf="conditionRole === 'D2D'; else banFBBLEADER">
        <app-auto-complete
          [label]="'FBB Leader Name'"
          [placeholder]="'Enter FBB leader name'"
          [suggestions]="fbbLeaderData"
          (selectedSuggestion)="onFBBLeaderSelected($event)"
          [banInput]="true"
        >
        </app-auto-complete>
      </div>
      <ng-template #banFBBLEADER>
        <div *ngIf="fbbLeaderData.length > 0; else newTemplate">
          <app-auto-complete
            [label]="'FBB Leader Name'"
            [placeholder]="'Enter FBB leader name'"
            [suggestions]="fbbLeaderData"
            (selectedSuggestion)="onFBBLeaderSelected($event)"
          >
          </app-auto-complete>
        </div>
        <ng-template #newTemplate>
          <app-auto-complete
            [label]="'FBB Leader Name'"
            [placeholder]="'Enter FBB leader name'"
            [suggestions]="fbbLeaderData"
            (selectedSuggestion)="onFBBLeaderSelected($event)"
          >
          </app-auto-complete>
        </ng-template>
      </ng-template>
      <!-- fbbLeaderData auto-complete  -->

      <!-- fbbLeaderData auto-complete  -->
      <div *ngIf="D2DCheck; else elseD2DCheck">
        <app-input
          label="D2D"
          [isDisabled]="true"
          formControlName="d2dVmy"
        ></app-input>
      </div>
      <ng-template #elseD2DCheck>
        <div *ngIf="b2bData.length > 0; else newD2DTemplate">
          <app-auto-complete
            [label]="'D2D'"
            [placeholder]="'Enter D2D name'"
            [suggestions]="b2bData"
            (selectedSuggestion)="onD2DSelected($event)"
          ></app-auto-complete>
        </div>
        <ng-template #newD2DTemplate>
          <app-auto-complete
            [label]="'D2D'"
            [placeholder]="'Enter D2D name'"
            [suggestions]="b2bData"
            (selectedSuggestion)="onD2DSelected($event)"
          ></app-auto-complete>
        </ng-template>
      </ng-template>

      <!-- fbbLeaderData auto-complete  -->

      <div></div>
      <div class="flex justify-center items-center pt-5">
        <button
          (click)="searchButton()"
          class="rounded-full bg-[#4485FF] text-white w-[120px] h-[40px]"
        >
          Search
        </button>
      </div>
    </form>
  </div>

  <div
    *ngIf="items.length > 0"
    class="bg-white mt-14 lg:w-2/3 mx-auto sm:p-12 p-4 space-y-6 rounded-md shadow-lg"
  >
    <div
      *ngFor="let item of items"
      class="flex rounded-md justify-between items-center sm:px-6 px-3 sm:py-4 py-2 w-full uppercase cursor-pointer"
      [ngClass]="item.backgroundColor"
      (click)="gotoDetailPage(item.label)"
    >
      <div class="sm:w-4/12 w-5/12 flex justify-between">
        <div>
          <p class="lg:text-xl sm:text-lg text-sm text-[#444444] font-semibold">
            {{ item.label }}
          </p>
        </div>
        <div class="">
          <p class="lg:text-xl sm:text-lg text-sm">-</p>
        </div>
      </div>

      <div class="flex justify-center items-center sm:w-2/12 w-2/12">
        <p class="lg:text-xl sm:text-lg text-sm font-bold break-words">
          {{ item.value2 }}
        </p>
      </div>
      <div class="flex justify-center items-center sm:w-4/12 w-2/12">
        <p class="lg:text-xl sm:text-lg text-sm font-bold">
          {{ item.percentage }}
        </p>
      </div>
      <div class="flex justify-center items-center pl-8 sm:w-1/12 w-2/12">
        <img src="assets/icons/onuvector.png" alt="" class="w-8" />
      </div>
    </div>
  </div>

  <!-- <div *ngIf="items.length > 0" class="grid grid-cols-2 gap-3 my-3">
    <div
      *ngFor="let item of items"
      [ngClass]="item.backgroundColor"
      (click)="gotoDetailPage(item.label)"
      class="rounded-md p-3"
    >
      <div>
        <div class="py-1 text-md font-extrabold">
          {{ item.label }}
        </div>
        <div>
          <span class="flex justify-between mr-4 text-sm">Total</span>
          <p class="break-words text-lg font-semibold">
            {{ item.value2 }}
          </p>
        </div>
        <div>
          <span class="text-sm">Percentage</span>
          <p class="text-md font-semibold">
            {{ item.percentage }}
          </p>
        </div>
      </div>
    </div>
  </div> -->
</div>
