<div class="w-full p-3 md:p-6">
  <div *ngIf="role && isMobile" class="font-bold">
    {{ role }}
  </div>
  <div class="w-full p-8 bg-white rounded-md shadow-lg">
    <form
      *ngIf="isDataLoaded"
      [formGroup]="searchTable"
      class="grid lg:grid-cols-3 sm:grid-cols-2 grid-cols-1 gap-5"
    >
      <!-- branch auto-complete  -->
      <div
        *ngIf="conditionRole === 'HO' || conditionRole === 'BM'; else banBranch"
      >
        <app-auto-complete
          [label]="'Branch Name'"
          [placeholder]="'Enter branch name '"
          [suggestions]="customerData"
          (selectedSuggestion)="onSuggestionSelected($event)"
          [dataRefill]="refillData"
        ></app-auto-complete>
      </div>
      <ng-template #banBranch>
        <app-auto-complete
          [label]="'Branch Name'"
          [placeholder]="'Enter branch name '"
          [suggestions]="customerData"
          (selectedSuggestion)="onSuggestionSelected($event)"
          [banInput]="true"
        ></app-auto-complete>
      </ng-template>
      <!-- branch auto-complete  -->

      <!-- townsip auto-complete  -->
      <div
        *ngIf="
          conditionRole === 'FBB_LEADER' || conditionRole === 'D2D';
          else banTownship
        "
      >
        <app-auto-complete
          [label]="'Township Name'"
          [placeholder]="'Enter Township'"
          [suggestions]="townshipData"
          (selectedSuggestion)="onTownshipSelected($event)"
          [banInput]="true"
        ></app-auto-complete>
      </div>
      <ng-template #banTownship>
        <div *ngIf="townshipData.length > 0; else newTownship">
          <app-auto-complete
            [label]="'Township Name'"
            [placeholder]="'Enter Township'"
            [suggestions]="townshipData"
            (selectedSuggestion)="onTownshipSelected($event)"
            [dataRefill]="refillData"
          ></app-auto-complete>
        </div>
        <ng-template #newTownship>
          <app-auto-complete
            [label]="'Township Name'"
            [placeholder]="'Enter Township'"
            [suggestions]="townshipData"
            (selectedSuggestion)="onTownshipSelected($event)"
          ></app-auto-complete>
        </ng-template>
      </ng-template>
      <!-- townsip auto-complete  -->

      <!-- fbbLeaderData auto-complete  -->
      <div *ngIf="conditionRole === 'D2D'; else banFBBLEADER">
        <app-auto-complete
          [label]="'FBB Leader Name'"
          [placeholder]="'Enter FBB leader name'"
          [suggestions]="fbbLeaderData"
          (selectedSuggestion)="onFBBLeaderSelected($event)"
          [banInput]="true"
        >
        </app-auto-complete>
      </div>
      <ng-template #banFBBLEADER>
        <div *ngIf="fbbLeaderData.length > 0; else newTemplate">
          <app-auto-complete
            [label]="'FBB Leader Name'"
            [placeholder]="'Enter FBB leader name'"
            [suggestions]="fbbLeaderData"
            (selectedSuggestion)="onFBBLeaderSelected($event)"
            [dataRefill]="refillData"
          >
          </app-auto-complete>
        </div>
        <ng-template #newTemplate>
          <app-auto-complete
            [label]="'FBB Leader Name'"
            [placeholder]="'Enter FBB leader name'"
            [suggestions]="fbbLeaderData"
            (selectedSuggestion)="onFBBLeaderSelected($event)"
          >
          </app-auto-complete>
        </ng-template>
      </ng-template>
      <!-- fbbLeaderData auto-complete  -->

      <!-- fbbLeaderData auto-complete  -->
      <div *ngIf="D2DCheck; else elseD2DCheck">
        <app-input
          label="D2D"
          [isDisabled]="true"
          formControlName="d2dVmy"
        ></app-input>
      </div>
      <ng-template #elseD2DCheck>
        <div *ngIf="b2bData.length > 0; else newD2DTemplate">
          <app-auto-complete
            [label]="'D2D'"
            [placeholder]="'Enter D2D name'"
            [suggestions]="b2bData"
            (selectedSuggestion)="onD2DSelected($event)"
          ></app-auto-complete>
        </div>
        <ng-template #newD2DTemplate>
          <app-auto-complete
            [label]="'D2D'"
            [placeholder]="'Enter D2D name'"
            [suggestions]="b2bData"
            (selectedSuggestion)="onD2DSelected($event)"
          ></app-auto-complete>
        </ng-template>
      </ng-template>

      <!-- fbbLeaderData auto-complete  -->

      <div></div>
      <div class="flex justify-center items-center pt-5">
        <button
          (click)="searchButton()"
          class="rounded-full bg-[#4485FF] text-white w-[120px] h-[40px]"
        >
          Search
        </button>
      </div>
    </form>

    <div
      *ngIf="!isDataLoaded"
      class="grid lg:grid-cols-3 sm:grid-cols-2 grid-cols-1 gap-5"
    >
      <div class="animate-pulse">
        <div class="h-2 w-14 rounded bg-slate-300 my-2"></div>
        <div class="h-10 w-full rounded bg-slate-300 my-2"></div>
      </div>
      <div class="animate-pulse">
        <div class="h-2 w-14 rounded bg-slate-300 my-2"></div>
        <div class="h-10 w-full rounded bg-slate-300 my-2"></div>
      </div>
      <div class="animate-pulse">
        <div class="h-2 w-14 rounded bg-slate-300 my-2"></div>
        <div class="h-10 w-full rounded bg-slate-300 my-2"></div>
      </div>
      <div class="animate-pulse">
        <div class="h-2 w-14 rounded bg-slate-300 my-2"></div>
        <div class="h-10 w-full rounded bg-slate-300 my-2"></div>
      </div>

      <div></div>
      <div class="animate-pulse flex justify-center items-center pt-5">
        <div class="w-[120px] h-[40px] rounded bg-slate-300 my-2"></div>
      </div>
    </div>
  </div>

  <div
    *ngIf="items.length > 0"
    class="bg-black mt-14 lg:w-10/12 mx-auto sm:p-12 p-4 space-y-6 rounded-md shadow-lg"
  >
    <div
      *ngFor="let item of items"
      class="flex rounded-md justify-between items-center sm:px-6 px-3 sm:py-4 py-2 w-full uppercase cursor-pointer"
      [ngClass]="item.backgroundColor"
      (click)="gotoDetailPage(item.label)"
    >
      <div class="sm:w-4/12 w-5/12 flex justify-between">
        <div>
          <p class="sm:text-base text-sm text-[#444444] font-semibold">
            {{ item.name }}
          </p>
        </div>
        <div class="">
          <p class="lg:text-xl sm:text-lg text-sm">-</p>
        </div>
      </div>

      <div class="flex justify-center items-center sm:w-2/12 w-2/12">
        <p class="sm:text-base text-sm font-bold break-words">
          {{ item.value2 }}
        </p>
      </div>
      <div class="flex justify-center items-center sm:w-4/12 w-2/12">
        <p class="sm:text-base text-sm font-bold">
          {{ item.percentage }}
        </p>
      </div>
      <div class="flex justify-center items-center pl-8 sm:w-1/12 w-2/12">
        <img src="assets/icons/onuvector.png" alt="" class="w-8" />
      </div>
    </div>
  </div>

  <!-- <div *ngIf="items.length > 0" class="grid grid-cols-2 gap-3 my-3">
    <div
      *ngFor="let item of items"
      [ngClass]="item.backgroundColor"
      (click)="gotoDetailPage(item.label)"
      class="rounded-md p-3"
    >
      <div>
        <div class="py-1 text-md font-extrabold">
          {{ item.label }}
        </div>
        <div>
          <span class="flex justify-between mr-4 text-sm">Total</span>
          <p class="break-words text-lg font-semibold">
            {{ item.value2 }}
          </p>
        </div>
        <div>
          <span class="text-sm">Percentage</span>
          <p class="text-md font-semibold">
            {{ item.percentage }}
          </p>
        </div>
      </div>
    </div>
  </div> -->

  <!-- table -->
  <div
    class="my-16 md:block hidden"
    *ngIf="
      conditionRole === 'BM' ||
      conditionRole === 'BCM' ||
      conditionRole === 'HO'
    "
  >
    <table class="shadow-lg">
      <tr class="bg-[#E6E8F1]">
        <th *ngIf="conditionRole !== 'BCM'">Branch</th>
        <th *ngIf="conditionRole === 'BCM'">FBB Leaders</th>
        <th>Total Customer</th>
        <th>Pending</th>
        <th>Reuse</th>
        <th>Revoke</th>
        <th>Received ONU</th>
        <th *ngIf="conditionRole === 'BCM'">Action</th>
      </tr>
      <tr *ngFor="let item of extraTableData">
        <td *ngIf="conditionRole === 'HO'">{{ item.branch }}</td>
        <td *ngIf="conditionRole === 'BCM'">{{ item.fbbLeaderVMY }}</td>
        <td *ngIf="conditionRole === 'BM'">{{ item.bc }}</td>
        <td>{{ item.total }}</td>
        <td>{{ item.pending }}</td>
        <td>{{ item.reuse }}</td>
        <td>{{ item.revoke }}</td>
        <td>{{ item.received }}</td>
        <td *ngIf="conditionRole === 'BCM'">
          <button
            (click)="getD2D(item.fbbLeaderVMY)"
            class="flex items-center justify-center p-1 w-full"
          >
            <img src="assets/icons/info-circle-icon.png" class="w-4" alt="" />
          </button>
        </td>
      </tr>
    </table>
  </div>
  <div
    class="my-16 md:hidden block"
    *ngIf="
      conditionRole === 'BM' ||
      conditionRole === 'BCM' ||
      conditionRole === 'HO'
    "
    style="overflow-x: auto; -webkit-overflow-scrolling: touch; width: 100%"
  >
    <table class="shadow-lg w-full">
      <thead>
        <tr class="bg-[#E6E8F1] text-[14px]">
          <th
            *ngIf="conditionRole !== 'BCM'"
            class="sticky left-0 bg-[#d4d9f1]"
            style="position: sticky; left: 0"
          >
            Branch
          </th>
          <th
            *ngIf="conditionRole === 'BCM'"
            class="sticky left-0 bg-[#d4d9f1]"
            style="position: sticky; left: 0"
          >
            FBB Leaders
          </th>
          <th>Total Customer</th>
          <th>Pending</th>
          <th>Reuse</th>
          <th>Revoke</th>
          <th>Received ONU</th>
          <th *ngIf="conditionRole === 'BCM'">Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of extraTableData" class="text-[12px]">
          <td
            *ngIf="conditionRole === 'HO'"
            class="sticky left-0 bg-[#E6E8F1]"
            style="position: sticky; left: 0"
          >
            {{ item.branch }}
          </td>
          <td
            *ngIf="conditionRole === 'BCM'"
            class="sticky left-0 bg-[#E6E8F1]"
            style="position: sticky; left: 0"
          >
            {{ item.fbbLeaderVMY }}
          </td>
          <td
            *ngIf="conditionRole === 'BM'"
            class="sticky left-0 bg-[#E6E8F1]"
            style="position: sticky; left: 0"
          >
            {{ item.bc }}
          </td>
          <td>{{ item.total }}</td>
          <td>{{ item.pending }}</td>
          <td>{{ item.reuse }}</td>
          <td>{{ item.revoke }}</td>
          <td>{{ item.received }}</td>
          <td *ngIf="conditionRole === 'BCM'">
            <button
              (click)="getD2D(item.fbbLeaderVMY)"
              class="flex items-center justify-center p-1 w-full"
            >
              <img src="assets/icons/info-circle-icon.png" class="w-4" alt="" />
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <!-- <div class="">
    <div
      class="p-4 my-12 text-sm md:text-md bg-[#E6E8F1] shadow-lg rounded-md md:hidden block"
    >
      <div class="grid grid-cols-2 p-3">
        <div class="font-bold">Branch</div>
        <div class="grid grid-cols-2">
          <p>-</p>
          <p>HO</p>
        </div>
      </div>

      <div class="grid grid-cols-2 p-3">
        <div class="font-bold">Total Customer</div>
        <div class="grid grid-cols-2">
          <p>-</p>
          <p>200</p>
        </div>
      </div>

      <div class="grid grid-cols-2 p-3">
        <div class="font-bold">Total Pending</div>
        <div class="grid grid-cols-2">
          <p>-</p>
          <p>200</p>
        </div>
      </div>

      <div class="grid grid-cols-2 p-3">
        <div class="font-bold">Reuse</div>
        <div class="grid grid-cols-2">
          <p>-</p>
          <p>200</p>
        </div>
      </div>

      <div class="grid grid-cols-2 p-3">
        <div class="font-bold">Revoke</div>
        <div class="grid grid-cols-2">
          <p>-</p>
          <p>200</p>
        </div>
      </div>

      <div class="grid grid-cols-2 p-3">
        <div class="font-bold">Received ONU</div>
        <div class="grid grid-cols-2">
          <p>-</p>
          <p>200</p>
        </div>
      </div>
    </div>
  </div> -->
</div>
