<div class="w-full p-4 bg-gray-200 h-full">
  <div class="w-full p-8 bg-white">
    <div class="grid grid-cols-3 gap-5">
      <app-select label="Branch Name"></app-select>
      <app-select label="BM"></app-select>
      <app-select label="BCM"></app-select>
      <app-select label="FBB Leader Name"></app-select>
      <app-select label="D2D"></app-select>
      <div class="flex justify-center items-center pt-5">
        <button class="rounded-2xl bg-blue-600 text-white w-[120px] h-[40px]">
          Search
        </button>
      </div>
    </div>
  </div>
  <div class="bg-white mt-10 w-2/3 mx-auto p-4 space-y-4">
    <div class="flex rounded-md bg-gray-400 p-2 w-full">
      <div class="w-6/12">
        <p class="text-[24px]">Target</p>
      </div>
      <div class="w-2/12"><p class="text-[24px]">-</p></div>
      <div class="w-2/12"><p class="text-[24px]">1000</p></div>
      <div class="w-2/12"><p class="text-[24px]">100%</p></div>
      <div class="w-2/12 flex items-center pl-8">
        <p class="text-[24px]">
          <svg
            width="31"
            height="26"
            viewBox="0 0 31 26"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M8.5 19L14.5 13L8.5 7"
              stroke="#FD6D1A"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
            <path
              d="M16.5 19L22.5 13L16.5 7"
              stroke="#FD6D1A"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
          </svg>
        </p>
      </div>
    </div>
    <div class="flex rounded-md bg-[#A1CDFF] p-2 w-full">
      <div class="w-6/12">
        <p class="text-[24px]">Total Revoke</p>
      </div>
      <div class="w-2/12"><p class="text-[24px]">-</p></div>
      <div class="w-2/12"><p class="text-[24px]">1000</p></div>
      <div class="w-2/12"><p class="text-[24px]">100%</p></div>
      <div class="w-2/12 flex items-center pl-8">
        <p class="text-[24px]">
          <svg
            width="31"
            height="26"
            viewBox="0 0 31 26"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M8.5 19L14.5 13L8.5 7"
              stroke="#FD6D1A"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
            <path
              d="M16.5 19L22.5 13L16.5 7"
              stroke="#FD6D1A"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
          </svg>
        </p>
      </div>
    </div>
    <div class="flex rounded-md bg-[#EBC1FF] p-2 w-full">
      <div class="w-6/12">
        <p class="text-[24px]">Total Reuse</p>
      </div>
      <div class="w-2/12"><p class="text-[24px]">-</p></div>
      <div class="w-2/12"><p class="text-[24px]">1000</p></div>
      <div class="w-2/12"><p class="text-[24px]">100%</p></div>
      <div class="w-2/12 flex items-center pl-8">
        <p class="text-[24px]">
          <svg
            width="31"
            height="26"
            viewBox="0 0 31 26"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M8.5 19L14.5 13L8.5 7"
              stroke="#FD6D1A"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
            <path
              d="M16.5 19L22.5 13L16.5 7"
              stroke="#FD6D1A"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
          </svg>
        </p>
      </div>
    </div>
    <div class="flex rounded-md bg-[#F8F49B] p-2 w-full">
      <div class="w-6/12">
        <p class="text-[24px]">Total Pending</p>
      </div>
      <div class="w-2/12"><p class="text-[24px]">-</p></div>
      <div class="w-2/12"><p class="text-[24px]">1000</p></div>
      <div class="w-2/12"><p class="text-[24px]">100%</p></div>
      <div class="w-2/12 flex items-center pl-8">
        <p class="text-[24px]">
          <svg
            width="31"
            height="26"
            viewBox="0 0 31 26"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M8.5 19L14.5 13L8.5 7"
              stroke="#FD6D1A"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
            <path
              d="M16.5 19L22.5 13L16.5 7"
              stroke="#FD6D1A"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
          </svg>
        </p>
      </div>
    </div>
  </div>
</div>
